@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,200,300,400;0,700;1,300&family=Montserrat&display=swap');

/* ------------------------- Body set to keep footer at bottom --*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #C9C8C8;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 150px; //height of the footer
    box-sizing: border-box;
}

/* ------------------------- Colours --*/

.navbar-nav li a {
    color: #00867d;
}

/* ------------------------- Headings --*/
h1 {
    font-family: "Alegraya", sans-serif;
    font-weight: 200;
    font-size: 100%;
    margin-top: 0px;
    padding: 0;
    color: #00867d;
    text-align: right;
}

/* ------------------------- Navigation Bar*/

.navbar-brand {
    font-weight: bold;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
        color: #e57373;
}

.navbar-light .nav-item .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
        color: #00867d;
}

/* ------------------------- Why Main Body*/

.why-pictures {
    min-height: 140px;
    width: 100%;
   }

.why-details {
    height: 100%;
    width: 100%;   
   }

.why-text {
    text-align: center;
    color: #3f3f3f;
    margin-bottom: 10px;
}

/* ------------------------- Footer*/

footer {
    margin: 0;
    position: absolute;
    bottom: 0;
    height: 150px;
 }
 .footer-row {
     text-align: center;
     padding: 20px;
 }

.footer-row i {
    font-size: 20px;
    color: #00867d;  
}


.footer-row col-12 a i {
    text-align: left;
}
.social-links i:hover {
    color:#e57373;
}