@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,200,300,400;0,700;1,300&family=Montserrat&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    background-color: #C9C8C8;
}

/* ------------------------- Colours --*/

.navbar-nav li a {
    color: #00867d;
}

/* ------------------------- Headings --*/
h1 {
    font-family: "Alegraya", sans-serif;
    font-weight: 200;
    font-size: 100%;
    margin-top: 0px;
    padding: 0;
    color: #00867d;
    text-align: right;
}

/* ------------------------- Containers --*/


/* ------------------------- Navigation Bar*/

.navbar-brand {
    font-weight: bold;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}
.navbar .navbar-toggler {
    border: 0;
}

/* ------------------------- Footer*/
footer {
    min-height: 100px;
    margin: 0;
 }
 .footer-row {
     text-align: center;
 }

.footer-row i {
    font-size: 20px;
    color: #00867d;  
}

.footer-row col-12 a i {
    text-align: left;
}